####Method1: Pyspark

In [0]:
from delta.tables import *

DeltaTable.create(spark) \
.tableName('employee_demo')\
.addColumn('emp_id', 'INT')\
.addColumn('emp_name', 'STRING')\
.addColumn('gender', 'STRING')\
.addColumn('salary', 'INT')\
.addColumn('Dept', 'STRING')\
.property('description','table created for demo purpose')\
.location('dbfs:/FileStore/tables/delta')\
.execute()

In [0]:
%sql 

select * from employee_demo

In [0]:
from delta.tables import *

DeltaTable.createIfNotExists(spark) \
.tableName('employee_demo')\
.addColumn('emp_id', 'INT')\
.addColumn('emp_name', 'STRING')\
.addColumn('gender', 'STRING')\
.addColumn('salary', 'INT')\
.addColumn('Dept', 'STRING')\
.property('description','table created for demo purpose')\
.location('dbfs:/FileStore/tables/delta')\
.execute()

In [0]:
from delta.tables import *

DeltaTable.createOrReplace(spark) \
.tableName('default.employee_demo')\
.addColumn('emp_id', 'INT')\
.addColumn('emp_name', 'STRING')\
.addColumn('gender', 'STRING')\
.addColumn('salary', 'INT')\
.addColumn('Dept', 'STRING')\
.property('description','table created for demo purpose')\
.location('dbfs:/FileStore/tables/delta')\
.execute()

####Method2: SQL

In [0]:
%sql
create table employee_demo(
  emp_id int,
  emp_name string,
  gender string
  salary int,
  dept string,
  ) using delta

In [0]:
%sql
create table if NOT exists employee_demo(
  emp_id int,
  emp_name string,
  gender string
  salary int,
  dept string,
  ) using delta

In [0]:
%sql
create OR replace table employee_demo(
  emp_id int,
  emp_name string,
  gender string
  salary int,
  dept string,
  ) using delta

####Method3: Using DataFrame

In [0]:
employee_data = [(100, 'Stephen','m','IT'),('200','venkat','M','Sales')]
schema = ['emp_id','emp_name','gender','dept']

df = spark.createDataFrame(data=employee_data, schema=schema)
display(df)

emp_id,emp_name,gender,dept
100,Stephen,m,IT
200,venkat,M,Sales

In [0]:
#create table in metastore using Dataframe's schema and write data to it
df.write.format('delta').saveAsTable('default.employee_demo1')

In [0]:
%sql

select * from employee_demo1

emp_id,emp_name,gender,dept
200,venkat,M,Sales
100,Stephen,m,IT