###Create Delta Table

In [0]:
%sql
create or replace table employee_demo (
  emp_id int,
  emp_name string,
  gender string,
  salary int,
  dept string
)
using delta
location 'dbfs:/FileStore/tables/delta'

In [0]:
%sql
select * from employee_demo

###Populate Sample Data

In [0]:
%sql
insert into employee_demo values(100, 'Stephen','M',2000,'IT');
insert into employee_demo values(200, 'Phillip','M',8000,'HR');
insert into employee_demo values(300, 'Lara','F',6000,'Sales');
insert into employee_demo values(400, 'Mike','M',4000,'IT');
insert into employee_demo values(500, 'Sarah','F',9000,'HR');
insert into employee_demo values(600, 'Serena','F',5000,'Sales');
insert into employee_demo values(700, 'Mark','M',7000,'Sales');

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
select * from employee_demo;

emp_id,emp_name,gender,salary,dept
600,Serena,F,5000,Sales
100,Stephen,M,2000,IT
300,Lara,F,6000,Sales
200,Phillip,M,8000,HR
700,Mark,M,7000,Sales
500,Sarah,F,9000,HR
400,Mike,M,4000,IT

In [0]:
###Method 1 : SQL Standard using Table name

In [0]:
%sql
update employee_demo set salary = 10000 where emp_name='Mark';

num_affected_rows
1

### Method2: SQL standard using Table Path

In [0]:
%sql
UPDATE delta.'dbfs:/FileStore/tables/delta' set salary = 12000 where emp_name='Mark'

---------------------------------------------------------------------------
ParseException                            Traceback (most recent call last)
File <command-4044106759273851>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-4044106759273851>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("dXBkYXRlIGRlbHRhLidkYmZzOi9GaWxlU3RvcmUvdGFibGVzL2RlbHRhJyBzZXQgc2FsYXJ5ID0gMTIwMDAgd2hlcmUgZW1wX25hbWU9J01hcmsn").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near ''dbfs:/FileStore/tables/delta'': extra input ''dbfs:/FileStore/tables/delta''.(line 1, pos 13)

== SQL ==
UPDATE delta.'dbfs:/FileStore/tables/delta' set salary = 12000 where emp_name='Mark'
-------------^^^

In [0]:
##Method3: Pyspark Standard using Table Instance
from delta.tables import *
from pyspark.sql.functions import *

deltaTable = DeltaTable.forPath(spark, 'dbfs:/FileStore/tables/delta')

#declare the predicate by using a SQL-formatted string
deltaTable.update(
    condition = "emp_name = 'Mark'",
    set = {'salary':'15000'}
)